/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(357,80%,52%);
  --gradient-color: linear-gradient(90deg,
                  hsl(23, 4%, 28%) 0%,
                  hsl(23, 4%, 8%) 100%);
  --white-color: hsl(0, 0%, 100%);
  --text-color: hsl(23, 4%, 60%);
  --body-color: hsl(23, 12%, 4%);
  --container-color: hsl(23, 4%, 10%);


  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 9rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 25rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*---------Keyframe--------*/
@keyframes bounceTop{
  0%,100%{
      transform: translateY(-30px);
  }
  50%{
      transform: translateY(0px);
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section-title {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header{
    position: fixed;
    width: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    width: 100px;
    margin-top: 10px;
}

.nav-toggle, .nav-close{
    display: flex;
    font-size: 1.5rem;
    color: var(--white-color);
    cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px){
    .nav-menu{
       position: fixed;
       top: -100%;
       left: 0;
       background-color: hsla(23, 12%, 4%, .2);
       width: 100%;
       padding-block: 5.5rem 4.5rem;
       backdrop-filter: blur(32px);
       -webkit-backdrop-filter: blur(32px);
       transition: top .4s;
    }

    .nav-logo{
        width: 80px;
        margin-top: auto;
        margin-bottom: auto;
    }
}



.nav-list{
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.nav-link{
    color: var(--white-color);
    font-weight: var(--font-medium);
    transition: color .4s;
}

.nav-link:hover{
    color: var(--first-color);
}

.nav-close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

/* Show menu */
.show-menu{
    top: 0;
}

/* Add blur header */
.blur-header::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(23, 12%, 4%, .2);
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
  top: 0;
  left: 0;
  z-index: -1;
}

/* Active link */
.active-link{
  color: var(--first-color);
}


/*=============== HOME ===============*/
.home-container{
  position: relative;
  padding-block: 7rem 1rem;
  row-gap: 2.5rem;
}

.home-content{
  position: relative;
  display: grid;
  justify-self: center;
}

.home-img{
  width: 220px;
  animation: bounceTop 3s linear infinite;
}

.home-title{
  font-size: var(--biggest-font-size);
  display: flex;
  column-gap: .25rem;
  color: var(--first-color);
  position: absolute;
  top: -1rem;
  justify-self: center;
}

.home-title span:nth-child(2), span:nth-child(3){
  z-index: -1;
}

.home-tooltip{
  position: absolute;
  top: -.5rem;
  right: 1.5rem;
  animation: bounceTop 3s linear infinite;
}

.home-tooltip-img{
  width: 60px;
}

.home-tooltip-text{
  background: var(--gradient-color);
  padding: .25rem .75rem;
  color: var(--white-color);
  font-weight: var(--font-medium);
  border-radius: 4rem;
  font-size: var(--small-font-size);
  position: absolute;
  transform: translate(60px, -40px);
  white-space: nowrap;
}

.home-social{
  display: grid;
  justify-items: center;
  row-gap: 6rem;
  position: absolute;
  top: 20rem;
  left: -1.5rem;
}

.home-social-text{
  position: relative;
  rotate: 90deg;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.home-social-text::after{
  content: '';
  width: 48px;
  height: 1px;
  background-color: var(--text-color);
  position: absolute;
  top: 0;
  bottom: 0;
  margin-block: auto;
  right: -64px;
}

.home-social-links{
  display: grid;
  row-gap: .75rem;
}

.home-social-link{
  font-size: 1.25rem;
  color: var(--text-color);
  transition: color .4s;
}

.home-social-link:hover{
  color: var(--first-color);
}

.home-button{
  justify-self: center;
}

/*=============== BUTTON ===============*/
.button{
  background: var(--gradient-color);
  padding: .75rem 1.5rem;
  border-radius: 4rem;
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  transition: box-shadow .4s;
}

.button i{
  font-size: 2rem;
  font-weight: initial;
  color: var(--first-color);
}

.button:hover{
  box-shadow: 0 12px 32px hsla(0, 100%, 50%, 0.12);
}


/*=============== ABOUT ===============*/
.about-container{
  row-gap: 3.5rem;
}

.about-data{
  text-align: center;
}

.about-description{
  margin-bottom: 2.5rem;
}

.about-img{
  width: 280px;
  justify-self: center;
}

/*=============== COLOR VARIANTS ===============*/
.color-container{
  padding-top: 2rem;
}

.color-article{
  width: 220px;
  display: grid;
  justify-items: center;
  filter: blur(8px);
  scale: .8;
  transition: filter .3s, scale .3s;
}

.color-img{
  width: 220px;
  margin-bottom: 1.5rem;
 
}

.color-model{
  background: var(--gradient-color);
  padding: .5rem 1.5rem;
  border-radius: 4rem;
  color: var(--white-color);
}

/* Swiper class */
.swiper-slide-active, .swiper-slide-duplicate-active{
  filter: blur(0);
  scale: 1;
}

/*=============== MODEL ===============*/
.specs-container{
  padding-top: 2rem;
  row-gap: 2.5rem;
}

.specs-content{
  position: relative;
  justify-self: center;
}

.specs-img{
  width: 280px;
}

.specs-tooltip-img{
  width: 60px;
}

.specs-tooltip-text{
  background: var(--gradient-color);
  padding: .25rem .75rem;
  border-radius: 4rem;
  color: var(--white-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  position: absolute;
  transform: translate(60px, -40px);
  white-space: nowrap;
}

.specs-tooltip-1, .specs-tooltip-2, .specs-tooltip-4{
  transform: scaleX(-1);
}

.specs-tooltip-1 .specs-tooltip-text, .specs-tooltip-2 .specs-tooltip-text, .specs-tooltip-4 .specs-tooltip-text{
  transform: translate(60px, -40px) scaleX(-1);
}

.specs-tooltip{
  position: absolute;
}

.specs-tooltip-1{
  top: .1rem;
  left: 5rem;
}

.specs-tooltip-2{
  top: 9.1rem;
  right: 1.5rem;
}

.specs-tooltip-3{
  bottom: 13rem;
  left: 1.5rem;
}

.specs-tooltip-4{
  bottom: 2rem;
  right: 4rem;
}

.specs-button{
  justify-self: center;
}
/*=============== SPONSOR ===============*/
.sponsor-img{
  width: 100px;
  transition: transform .4s;
}

.sponsor-img:hover{
  transform: scale(1.1);
}

.sponsor-container{
  padding-block: .5rem 4.5rem;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  align-items: center;
  gap: 5rem 4rem;
}


/*=============== FOOTER ===============*/
.footer{
  padding-block: 2rem;
  overflow: hidden;
}

.footer-container{
  row-gap: 4rem;
}

.footer-logo{
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
}

.footer-data{
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4rem;
}

.footer-title{
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.footer-link{
  color: var(--text-color);
  transition: color .4s;
}

.footer-link:hover{
  color: var(--first-color);
}

.footer-group{
  grid-column: 1/3;
}

.footer-form{
  display: grid;
  row-gap: 1rem;
  margin-bottom: 2rem;
}

.footer-input, .footer-button{
  font-size: var(--normal-font-size);
  font-family: var(--body-color);
  border: none;
  outline: none;
}

.footer-input{
  width: 100%;
  padding: 1.15rem 1.25rem;
  border-radius: 4rem;
  background-color: var(--container-color);
  color: var(--text-color);
}

.footer-input::placeholder{
  color: var(--text-color);
}

.footer-button{
  cursor: pointer
}

.footer-social{
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.footer-social-link{
  color: var(--white-color);
  font-size: 1.25rem;
  transition: color .4s;
}

.footer-social-link::hover{
  color: var(--first-color);
}

.footer-copy{
  display: block;
  margin-top: 5rem;
  font-size: var(--small-font-size);
  text-align: center;
}

.footer-ameer{
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

.footer-ameer:hover{
  color: var(--white-color);
}


/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(23, 4%, 15%);
}


::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: hsl(23, 4%, 30%);
}

::-webkit-scrollbar-thumb:hover{
  background-color: hsl(23, 4%, 40%);
}
/*=============== SCROLL UP ===============*/
.scrollup{
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background: var(--gradient-color);
  display: inline-flex;
  color: var(--white-color);
  font-size: 1.25rem;
  padding: 6px;
  border-radius: .25rem;
  z-index: var(--z-tooltip);
  transition: bottom .4s, transform .4s;
}

.scrollup:hover{
  transform: translateY(-.5rem);
}

/* Show Scroll Up */
.show-scroll{
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container{
    margin-inline: 1rem;
  }

  .home-img{
    width: 180px;
  }

  .home-title{
    font-size: 8rem;
  }

  .specs-img{
    width: 220px;
  }

  .specs-tooltip-text{
    font-size: var(--smaller-font-size);
    transform: translate(42px, -40px);
  }

  .specs-tooltip-1 .specs-tooltip-text, .specs-tooltip-2 .specs-tooltip-text{
    transform: translate(40px, -40px) scaleX(-1);
  }

  .specs-tooltip-1{
    top: -.5rem;
    left: 3.5rem;
  }

  .specs-tooltip-2{
    top: 7rem;
    right: 1rem;
  }

  .specs-tooltip-3{
    bottom: 11rem;
    left: 1.2rem;
  }

  .specs-tooltip-4{
    right: 3rem;
    bottom: 1.3rem;
  }

  .sponsor-container{
    gap: 4rem 2rem;
  }
}

/* For medium devices */
@media screen and (min-width: 576px){
  .about-container{
    grid-template-columns: 380px;
    justify-content: center;
  }

  .footer-data{
    grid-template-columns: repeat(3, max-content);
    column-gap: 3rem;
  }

  .footer-group{
    grid-column: initial;
  }

  .footer-social{
    justify-content: initial;
  }
}

@media screen and (min-width: 768px) {
  .home-img{
    width: 320px;
  }

  .home-title{
    font-size: 16rem;
    top: -2rem;
  }

  .home-social{
    top: 30rem;
    bottom: 0;
    align-items: center;
  }

  .sponsor-container{
    grid-template-columns: repeat(4, max-content);
  }

  .footer-container{
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }

  .footer-data{
    column-gap: 4rem;
  }
}

/* For large devices */
@media screen and (min-width: 1150px){
  .container{
    margin-inline: auto;
  }

  .section{
    padding-block: 7rem 2rem;
  }

  .section-title{
    font-size: var(--h1-font-size);
  }

  .nav{
    height: calc(var(--header-height) + 2rem);
  }

  .nav-toggle, .nav-close{
    display: none;
  }

  .nav-list{
    flex-direction: row;
    column-gap: 4.5rem;
  }

  .home-container{
    position: relative;
  }

  .home-img{
    width: 500px;
  }

  .home-title{
    font-size: var(--biggest-font-size);
    top: -3.5rem;
    column-gap: 1rem;
  }

  .home-tooltip{
    right: 10rem;
  }

  .home-tooltip-img{
    width: initial;
  }

  .home-tooltip-text{
    font-size: var(--normal-font-size);
    transform: translate(82px, -52px);
  }

  .home-social{
    top: 40rem;
    left: -4rem;
    overflow: visible;
    bottom: 0;
    align-items: center;
    max-width: max-content;
  }

  .home-social-text{
    font-size: var(--normal-font-size);
  }

  .home-social-links{
    row-gap: 1rem;
  }

  .home-social-link{
    font-size: 1.5rem;
  }

  .home-button{
    position: absolute;
    bottom: -5rem;
  }

  .about-container{
    grid-template-columns: 400px 500px;
    align-items: center;
    column-gap: 5rem;
  }

  .about-data .section-title, .about-data{
    text-align: initial;
  }

  .about-description{
    margin-bottom: 3.5rem;
  }

  .about-img{
    width: 500px;
  }

  .color-container{
    max-width: 1100px;
    margin-inline: auto;
  }

  .color-img{
    width: 500px;
  }

  .specs-img{
    width: 500px;
  }

  .specs-tooltip-img{
    width: initial;
  }

  .specs-tooltip-text{
    font-size: var(--normal-font-size);
    padding: .5rem 1.2rem;
    transform: translate(82px, -56px);
  }

  .specs-tooltip-1{
    top: 1rem;
  }

  .specs-tooltip-1 .specs-tooltip-text{
    transform: translate(82px, -56px) scaleX(-1);
  }

  .specs-tooltip-2{
    transform: initial;
    top: 17rem;
    right: -1rem;
  }

  .specs-tooltip-2 .specs-tooltip-text{
    transform: translate(82px, -56px);
  }

  .specs-tooltip-3{
    transform: scaleX(-1);
    left: -1.5rem;
    bottom: 23rem;
  }

  .specs-tooltip-3 .specs-tooltip-text{
    transform: translate(82px, -56px) scaleX(-1);
  }

  .specs-tooltip-4{
    bottom: 6rem;
    right: 7.5rem;
  }

  .sponsor-container{
    column-gap: 7.5rem;
    padding-bottom: 6rem;
  }

  .footer{
    padding-bottom: 3rem;
  }

  .footer-data{
    column-gap: 6rem;
  }

  .footer-form{
    grid-template-columns: 1fr max-content;
    background-color: var(--container-color);
    padding: .5rem;
    border-radius: 4rem;
    width: 380px;
  }

  .footer-social{
    column-gap: 1.5rem;
  }

  .footer-social-link{
    font-size: 1.5rem;
  }

  .footer-copy{
    margin-top: 7.5rem;
  }
}
